@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 300;
    color: #202020;
    font-size:19px
}

#logo {
    float: left;
}

#menu, #logo {
    line-height: 65px;
}

/* nav links */
#menu a {
    text-decoration: none;
}

#menu a:hover {
    background-color: rgb(174, 98, 246);
    border-radius: 25px;
    border: 2px solid rgb(174, 98, 246);
}

ul {
    list-style-type: none;
}

nav li {
    float: right;
    margin-right: 25px;
}

/* hero */
#hero-wrapper {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
}

/* footer */
#footer-icons > li{
    display: inline-block;
}

