@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 300;
    color: #202020;
    font-size: 19px
}

#logo {
    float: left;
    margin-left: 10px;
}

#menu,
#logo {
    line-height: 65px;
    margin-right: 10px;
}

/* nav links */
#menu a {
    text-decoration: none;
}

#menu a:hover {
    background-color: rgba(174, 98, 246, .5);
    border-radius: 15px;
}

ul {
    list-style-type: none;
}

nav li {
    float: right;
    margin-right: 25px;
}

/* hero */
#hero-wrapper {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url("/portfolio-1/assets/images/hero-image.jpg") no-repeat center center;
    /* had to use the direct url since the relative path did not work when published the site in gitub tried different approaches
    background: url("https://images.pexels.com/photos/3998365/pexels-photo-3998365.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center;
    */
    background-size: cover;
    opacity: 0.7;
    
}

#login-image-wrapper {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#login-image {
    height: 500px;
    width: 100%;
    /* had to use the direct url since the relative path did not work when published the site in gitub tried different approaches*/
    background: url("https://images.pexels.com/photos/40815/youth-active-jump-happy-40815.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat center center;
    background-size: cover;
    opacity: 0.7;
}

#hero-text-wrapper {

    width: 230px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(174, 98, 246, .2);
    bottom: 30px;
    right: 80px;
    position: absolute;
    border-radius: 80px;
}

#hero-text {
    text-align: center;
    font-size: 150%;
    padding-top: 25px;
}

/* Main content */
#main-content {
    padding-top: 20px;
    width: 85%;
    margin: 0 auto;
}

.image-container {
    display: flex;
    height: auto;
    margin-top: 20px;
}

.image-container div {
    flex: 1;
}

.image-container img {
    max-width: 100%;
}

.main-content-text {
    text-align: center;
    padding: 30px;
}

.main-content-text>h2 {
    padding: 15px;
}

footer {
    clear: both;
    position: relative;
    margin-top: 60px;
}

.footer-icons {
    text-align: center;
}

.footer-icons>li {
    display: inline;
}

.footer-icons>li>a {
    padding: 50px;
}

.copy-right-text {
    text-align: center;
}

/* newsletter secion */
.newsletter-conatiner {
    text-align: center;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.newsletter-conatiner i {
    padding-left: 5px;
}


/* applies bg color to all buttons */
input[type=submit] {
    background-color: rgba(174, 98, 246, .5);
}

/* applies hover effect to all buttons */
input[type=submit]:hover {
    background-color: rgb(174, 98, 246)
}

.copy-right-text {
    padding-top: 30px;
    padding-bottom: 10px;
}


/* signup form, login form, newsletter*/

.signup-form-section,
.login-form-section {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
}

/*overides above padding value for signup section */
.signup-form-section {
    padding-top: 125px;
}


.signup-form .login-form .newsletter-conatiner,
input[type=text],
input[type=submit],
input[type=email],
input[type=password],
#city {
    width: 50%;
    padding: 15px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #202020;
    box-sizing: border-box;
    border-radius: 30px;
}

/*responsive */

/*From 900px wide and down*/
@media screen and (max-width: 900px) {
    footer {
        margin-top: 20px;
    }
    .footer-icons i {
        font-size: 2.4em;
    }

    .footer-icons>li>a {
        padding: 40px;
    }

    .signup-form .login-form .newsletter-conatiner,
    input[type=text],
    input[type=submit],
    input[type=email],
    input[type=password],
    #city {
        width: 70%;
    }
}

/*From 500px wide and down*/
@media screen and (max-width: 500px) {
    footer {
        margin-top: 20px;
    }
    .footer-icons i {
        font-size: 1.5em;
    }

    .footer-icons>li>a {
        padding: 25px;
    }

    .signup-form .login-form .newsletter-conatiner,
    input[type=text],
    input[type=submit],
    input[type=email],
    input[type=password],
    #city {
        width: 90%;
    }

    .signup-form-section {
        padding-top: 125px;
    }

    #menu {
        font-size:16px;
    }
    nav li {
        margin-right:0px;
    }
}